# OS
.DS_Store

# Env files
.env
**/.env

# Logs
*.log

# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/bin
backend/tmp
backend/*.db
backend/*.sqlite
backend/*.sqlite3
backend/data/*.db

# IDE
.vscode
.idea